.gradient-background {
  background: linear-gradient(300deg, black, #2596BE, orange);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.logo {
  margin-right: 20px;
}

.logo-text{
  margin-bottom: 300px;
}

.battlefield {
  width: 100vh;
  margin-top: -5%;
  margin-left: -40%;
}

#getyourgames{
  position:absolute;
  margin-left: 30%;
  
}
#getstarted {
  margin-left: 15%;
  margin-right: 0;
  margin-bottom: 2%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#contactus{
  margin-left: 0%;
  margin-right: 0;
  margin-bottom: 2%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media (max-width: 1200px) {
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  
  .battlefield{
    margin-left: 0;
    width: 100%;
    margin-top: -25%;
  }

  #getyourgames,
  #getstarted {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  }
}
